@import '../../../main-styles.scss';

.noscroll {
  position: fixed;
  overflow: hidden;
}


.overlay-container {
  position: fixed;
  overflow: hidden;
  display: flex;
  margin-bottom: 40px;
  top: 80px;
  z-index: 2;
  // justify-content: center;
  // align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);

  .overlay-content {
    margin: auto;

    // margin-right: 0px;
    padding: 2px;
    width: 90%;
    height: 100%;

    justify-content: center;
    align-items: center;
    color: white;
    background: rgba(0, 0, 0);
  }
}
// class="image is-4by3"

#overlay {
  position: fixed;
  left: 0px;
  top: 80px;
  bottom: 0px;
  right: 0px;
  margin-bottom: 40px;
  // width: 100%;
  // height:120%;
  z-index: 3;
  background-color: black;
  opacity: 98%;
  padding: 5px;
}

.overlay-content {
  height: 100%;
  // margin: 5px;
  // padding: 5px;
  overflow-y: scroll;
}

.fav-button {
  box-sizing: border-box;
  margin-right: 10px;
}

#preparation {
  margin-top: 15px;
}
