
<div class="container" [ngClass]="{noscroll: test}">
  <div class="level-item">
    <div class="columns is-multiline is-mobile is-centered cards-container">
      <div class="column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd" *ngFor="let recept of recepts">
        <div class="card">
          <a (click)="showRecept(receptId.value)">

            <input type="hidden" #receptId value="{{recept._id}}">
            <div class="card-image">
              <figure class="image">
                <img src="../../../assets/media/{{recept.pictureUrl}}" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">

              <div class="content">
                <p class="title is-5 ">{{recept.title}}</p>

              </div>
              <div class="media">
                <div class="media-left">
                  <figure class="image is-32x32">
                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="subtitle is-6">{{recept.description}}</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showOverlay" class="overlay-container">
  <a (click)="hideRecept()">
    <div class="overlay-content" >
      <div class="card">
        <div class="media-content has-text-justified">
          <p class="title is-2">{{currentRecept.title}}</p><br>
        </div>
        <div class="card-image">
          <figure >
            <img src="../../../assets/media/{{currentRecept.pictureUrl}}" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <!-- <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure> -->
            </div>
            <div class="media-content">
              <!-- <p class="title is-4">{{currentRecept.title}}</p> -->
              <p class="subtitle is-6"><a href="{{currentRecept.sourceUrl}}" target="_blank">Quelle</a></p>
            </div>
          </div>
          <div class="content">
            <div class="columns">
              <div class="column">
                {{currentRecept.description}}
              </div>
              <div class="column">
                <p *ngIf="ingredients.length !== 0">{{ingredients.length}} Zutaten:</p>
                <ul >
                  <li *ngFor="let item of ingredients">{{item.quantity}} {{item.unit}} {{item.ingredient}}</li>
                </ul>
                <p></p>
              </div>
            </div>

          </div>
          <div class="content">

          </div>
        </div>
      </div>
    </div>
  </a>
</div>
