//  For global styles and variables

$darkblue: #060616;
$blue: #0e0e26;
$lightblue: #3e8ed0;
$textcolor: #ffffaa;

html {
  background: linear-gradient(to right top, $darkblue, $blue);
}

html, body {
  height: 100%;
}
.spacer {
  margin: 50px;
}


$card-background-color: #b7d3f3;

// .centered-content {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   height: 100%;

//   .card {
//     display:grid;
//     justify-content: center;

//   }
// }

.edit-cat-text {
  position:relative;
  // display: grid;
  justify-content: center;
  align-content: flex-end;

  p {
    color: white;
  }
}

// .cards-container {
//   max-width: 95%;
// }
