//  For global styles and variables

$darkblue: #02021f;
$blue: #0d0d11;
$lightblue: #3e8ed0;
$textcolor: #ffffaa;
$card-background-color: #b7d3f3;

html {
  background: linear-gradient(to right top, $darkblue, $blue);
}

html, body {
  height: 98%;
}
.spacer {
  margin: 50px;
}

.centered-content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}




.edit-cat-text {
  position:relative;
  // display: grid;
  justify-content: center;
  align-content: flex-end;

  p {
    color: white;
  }
}

// .cards-container {
//   max-width: 95%;
// }
